* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width:100%;


}

video {
  
}


.video-info {
  width: 50%;
  float: right;
  align-content: center;
}

.video-info p {
  padding: 30px 25px 15px;
  font-family: arial;
  color: #111;
  line-height: 40px;
  text-align: right;

}

.videowrapper p {
padding: 20px 20px 20px;
text-align:left;
display: block;
}



iframe {
  padding: 30px 25px 15px;
  float: right;
  background-color: Black;
}



.side-margins {
  margin-left: 10%;
  margin-right: 10%;
}

.img-info {
  padding: 30px 25px 15px;
  font-family: sans-serif;
  font-size: 12px;

}
.Img-park {
  width: 350px;
  flex-flow: row;
  float: right;
}

.Img-Beverlyhill {
  width: 350px;
}

.Img-Beach {
width: 350px;

}

.Img-Family1 {
  width: 250px;
}


.Img-Portriate {
  width: 350px;
  padding-right:


}

@media only screen and (min-width: 768px) {

}



h1 {
  font-family: 'Permanent Marker', cursive;
  font-size:
  font-wight:
  text-align:right;
  text-decoration: underline;
  text-indent: 45px;
  color: black;
  word-spacing:
  line-height: 40px;

}






}

p {
  margin:
  font-size: 10px;
  text-align: right;
  line-height:;
  text-indent:
  font-family: fantasy;
  margin-right: 30px;
}





div {
  margin-top: inherit;


}

body {
  background-color:#CD5C5C;

}






nav {
  width: 100%;
  height: 100px;
  background-color: #fff;

}



ul {
  margin-left: 0px;

}



ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;


}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-Family: italic;
  color: #1e1e1e;
padding: 0 20px;

}

ul li a:hover {
  color: red;
}
@media only screen and (min-width: 1000px) {
.wrapper {
  width:1000px;
}
