* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width:100%;


}


.video-info {
  width: 100%;
}

.video-info p {
  padding: 30px 25px 15px;
  font-family: arial;
  color: #111;
  line-height: 28px;
}




video {
  width: 45%;
  float:right;


}

.side-margins {
  margin-left: 10%;
  margin-right: 10%;
}

.img-info {
  padding 15px;
  height:;
  flex-flow:
  float:right;
}
.Img-park {
  width: 350px;
}

.Img-Beverlyhill {
  width: 350px;
}

.img-info h2 {
  padding:
  float:
}

@media only screen and (min-width: 768px) {

}



h1 {
  font-family: 'Permanent Marker', cursive;
  font-size:
  font-wight:
  text-align:right;
  text-decoration: underline;
  text-indent: 45px;
  color: red;
  word-spacing:
  line-height: 40px;

}






}

p {
  margin:
  font-size: 10px;
  text-align: right;
  line-height:;
  text-indent:
  font-family: fantasy;
  margin-right: 30px;
}





div {
  margin-top: inherit;


}

body {
  background-color:#eee;

}






nav {
  width: 100%;
  height: 100px;
  background-color: #fff;

}



ul {
  margin-left: 0px;

}



ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;


}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-Family: italic;
  color: #1e1e1e;
padding: 0 20px;

}

ul li a:hover {
  color: red;
}
@media only screen and (min-width: 1000px) {
.wrapper {
  width:1000px;
}
